<%-include('./partials/header.ejs') %>
<%-include('./partials/navbar.ejs') %>

<body>
    <h1>Clientes</h1>
    <ul id="clientes">
        
    </ul>
    

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="../public/js/clienteController.js"></script>

<%-include('./partials/footer.ejs') %>