<%-include('./partials/header.ejs') %>
<%-include('./partials/navbar.ejs') %>

<body>
    <h1>Clientes</h1>
    <ul id="clientes">

    </ul>
    
    

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
   axios.get('https://api-erp-tg.herokuapp.com/cliente')
    .then(response =>criarLista(response.data))
    .catch(error => console.log(error))

    const criarLista = (clientes)=>{
        const ulClientes = document.getElementById('clientes')
        clientes.map(cliente=>{
            const listaCliente = document.createElement('li')
            listaCliente.innerHTML =
            `Nome: ${cliente.nome_clientes}
            Telefone:${cliente.telefone}`
            ulClientes.appendChild(listaCliente)
        })
    }

</script>

<%-include('./partials/footer.ejs') %>