<%-include('./partials/header.ejs') %>
<%-include('./partials/navbar.ejs') %>

<body>
    <tbody id='tabela-cliente'>
        <td class="cliente-nome">nome</td>
        <td class="cliente-telefone">telefone</td>

    </tbody>
    

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    async function getCliente(){
        const response = await axios.get('https://api-erp-tg.herokuapp.com/cliente')
       console.log("response",response)
    }
    class Cliente{
        constructor({nome,telefone}){
        this.nome=nome;
        this.telefone=telefone
    }
    }
    getCliente();

</script>

<%-include('./partials/navbar.ejs') %>