<%-include('./partials/header.ejs') %>
<%-include('./partials/navbar.ejs') %>

<body>
    <h1> Lista de clientes</h1>
    <ul id="id_clientes">
        
    </ul>

</body>

<script>
    axios.get("https://api-erp-tg.herokuapp.com/cliente").
    then(response=>criarListaDinamica(response.data)).
    catch(error => console.log(error))
    const criarListaDinamica=(cliente)=>{
        const ulCliente = document.getElementById("id_clientes")
        clientes.map(aluno=>{
            const listaCliente = document.createElement('li')
            listaCliente.innerHTML=`Nome:${cliente.nome}`
            ulCliente.appendChild(listaCliente)
        })
    }
</script>


<%-include('./partials/footer.ejs') %>