<%-include('../../partials/header.ejs') %>
    <%-include('../../partials/navbar.ejs') %>

        <body>
            <br>
            <div class="container">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                        </tr>
                    </thead>
                    <tbody id="tabelaCliente"></tbody>
                </table>

                <button class="btn btn-success" id="btnCadastrar" title="Clique para cadastar novo cliente">Cadastrar novo Cliente</button>
               


            </div>
            

        </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script type="text/javascript" src="./js/clienteController.js"></script>


        <%-include('../../partials/footer.ejs') %>