<%-include('../../partials/header.ejs') %>
<%-include('../../partials/navbar.ejs') %>
<div class="container">


    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold"><i class="fas fa-address-card"></i> CARTEIRA ESCOLAR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         Conteúdo
        </div>
    </div>



<%-include('../../partials/footer.ejs') %>
